.select-wrapper {
  margin: 20px 0;
  position: relative;
}

.select-element {
  width: 100%;
  border: 1px solid #e6e6e6;
  background: transparent;
  border-radius: 6px;
  padding: 10px;
  height: 40px;
  margin-top: 7px;
}
.select-icon {
  position: absolute;
  right: auto;
  left: 10px;
  top: 40px;
  touch-action: none;
  pointer-events: none;
}

.select-lable {
  font-size: 13px;
}
