.bg-pattern-light {
  background-image: url("/backgrounds/bg_pattern_light_blue.png");
  height: 20vh;
  background-size: cover;
  border-bottom: 2px solid $orange;
}
.signup-logo-wrapper {
  text-align: center;
  margin-top: -51px;
}

.signup-page-wrapper {
  margin-top: -90px;
}
