.verify-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.change-phone-number {
  text-align: center;
  padding: 15px 0;
}

.get-code-hint {
  font-size: 0.7rem;
}
