.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid #e6402e;
  height: 60vh;
  background: #36434d;
  .logo {
    margin-bottom: 20px;
    img {
      width: 70px;
    }
  }
  .slogan {
    text-align: center;
    color: white;
  }
}

.registration-form {
  border-radius: 6px;
  margin-top: -85px;
  background: white;
  box-shadow: 2px 2px 13px #c7c7c7;
  .registration-element {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 16px;
    border-bottom: 1px solid #e6e6e6;
    &:last-child {
      border-bottom: none;
    }
    &:hover {
      cursor: pointer;
    }
  }
}

.extra-content {
  margin-top: 24px;
  background-color: #36434d;
  color: white;
  padding: 20px 0;
}
