.inputs-wrapper-full-width {
  width: 100%;
  position: relative;
}

.radio-buttons-wrapper {
  display: flex;
  align-items: center;
  position: absolute;
  left: 0;
  .radio-button {
    padding-left: 10px;
  }
}
