.inputs-wrapper {
  display: flex;
  margin-bottom: 20px;
  &.full-width {
    .input-wrapper {
      width: 100%;
    }
  }
  .input-wrapper {
    width: 50%;
    &:last-child {
      margin-right: 10px;
    }
  }
}
.call-to-actions {
  display: flex;
  margin-bottom: 20px;
  .call-to-action-button-wrapper {
    flex: 1;
    &:last-child {
      margin-right: 10px;
    }
  }
}
