$default-font-size: 13px;

$primary-blue: #0088cc;
$primary-gray: #36434d;
$black: #333333;
$white: #ffff;
$light-gray: #666666;
$dark-gray: #333333;
$red: #cc0022;
$orange: #e6402e;
$gray: #97a3a8;
$gray-font: #999999;
$bg-color: #f1f3f3;
$green: #1ea778;
$border-color: #e6e6e6;
$default-border-radius: 6px;
$bg-gray: #fafafa;

body {
  margin: 0;
  padding: 0;
  direction: rtl;
  font-family: IRANSans;
  font-size: $default-font-size;
  background-color: $bg-color;
}

button {
  font-family: IRANSans;
}

a {
  text-decoration: none;
  color: inherit;
  &:hover {
    cursor: pointer;
  }
}

img {
  max-width: 100%;
}

// general

.text-bold {
  font-weight: bold;
}

.center {
  text-align: center;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.c-blue {
  color: $primary-blue;
}
.c-black {
  color: $dark-gray;
}
.c-light-gray {
  color: $light-gray;
}
.c-red {
  color: $red;
}
.c-white {
  color: $white;
}
.c-gray {
  color: $gray-font;
}

.layout-wrapper {
  margin-top: 60px;
}

.fade-enter {
  opacity: 0;
  z-index: 1;
}
.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in;
}

.margin-20 {
  margin: 20px;
}
.margin-top-bottom-20 {
  margin: 20px 0;
}

@media only screen and (max-width: 480px) {
  .Toastify__toast-container {
    width: 93%;
  }
}
// ToDo: import reset CSS;

// ToDo: better way to import CSS;
@import "../node_modules/react-toastify/dist/ReactToastify.min.css";
@import "../node_modules/react-persian-calendar-date-picker/lib/DatePicker.css";

@import "./components/UI/Container/style.scss";
@import "./components/UI/Card/style.scss";
@import "./components/UI/Button/style.scss";
@import "./components/UI/Accordion/style.scss";
@import "./components/UI/Title/style.scss";
@import "./components/UI/Select/style.scss";
@import "./components/UI/Input/style.scss";
@import "./components/UI/Logo/style.scss";
@import "./components/UI/SelectWithOutOption/style.scss";
@import "./components/UI/RadioButton/style.scss";
@import "./components/UI/Modal/style.scss";
@import "./components/UI/MultiStepNavBar/style.scss";
@import "./components/UI/Loading/style.scss";
@import "./components/UI/Header/style.scss";
@import "./components/UI/Footer/style.scss";
@import "./components/UI/InputPlaceholder/style.scss";
@import "./components/UI/ReadOnlyInput/style.scss";
@import "./components/UI/ImageUploader/style.scss";

@import "./components/Layout/AuthLayout/style.scss";
@import "./components/Layout/AuthLayout/AuthHeader/style.scss";
@import "./components/Layout/NavBar/style.scss";
@import "./components/Layout/Splash/style.scss";

@import "./components/Pages/HomePage/style.scss";
@import "./components/Pages/BuyCard/CardsMainPage/style.scss";
@import "./components/Pages/BuyCard/SubmitInformationPage/style.scss";
@import "./components/Pages/BuyCard/BuyCardMainPage/style.scss";
@import "./components/Pages/BuyCard/ConfirmInformationPage/style.scss";

@import "./components/Pages/SSO/SignIn/style.scss";
@import "./components/Pages/SSO/Verify/style.scss";

@import "./components/Pages/Course/Login/style.scss";
